h2{
    background-color: aqua;
    height: 45px;
}
a{
    background-color: rgb(49, 172, 31);
    border: 1px solid black;
    color: aliceblue;
    padding: 5px;
    
}
a:nth-child(even){
    background-color: rgb(184, 134, 134);
    color: rgb(58, 87, 112);
}